<div class="u-{{msg/sender_id}} message-avatar sender_info_hover view_user_card_tooltip no-select" aria-hidden="true" data-is-bot="{{sender_is_bot}}">
    <div class="inline_profile_picture {{#if sender_is_guest}} guest-avatar{{/if}}">
                <img 
            loading="lazy" 
            src="{{small_avatar_url}}" 
            data-animated-url="{{animated_avatar_url}}" 
            alt="" 
            class="no-drag"
            onmouseover="this.src = '{{animated_avatar_url}}';" 
            onmouseout="this.src = '{{small_avatar_url}}';"
        />
    </div>
</div>
{{~! remove whitespace ~}}
